/* DOCUMENT */
* {
    margin: 0;
    padding: 0;
}

/* VARIABLES */
:root {
    --main-bg-color: #C5C5C5;
    --secondary-bg-color: #808080;
    --main-text-color: #3C3638;
    --secondary-text-color: #846554;
}

h3, h1 {
    color: var(--main-text-color);
    font-family: "Exo 2", sans-serif;
    margin-bottom: 1vh;
}

/* HEADER */
header {
    background-color: var(--main-bg-color);
    padding: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 7vh;
    z-index: 100;
}

.imgLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.3rem;
}

.imgLogo img {
    width: 6vh;
    height: 6vh;
    padding-left: 25px;
    display: none;
}

.imgLogo h1 {
    font-family: "Exo 2", sans-serif;
    color: var(--main-text-color);
    margin-left: 20px;
    display: none;
    font-size: small;
}

.categoriesHead {
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: space-around;
}


.categoriesHead h3 {
    font-size: 1.4rem;
    font-weight: 200;
    margin-right: 2vw;
}

.userAccount {
    margin-right: 10%;
    width: 15vw;
    display: flex;
    justify-content: space-between;
}

.userAccount i {
    color: var(--main-text-color);
    font-size: 1.3rem;
}

#cartWrapper {
    display: flex;
    align-items: end;
    justify-content: end;
    margin: 0 0 -1vh -3vh;
}

#cartNum {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vh;
    height: 3vh;
    padding: 1px 1px;
    border-radius: 100%;
    background-color: var(--secondary-bg-color);
    color: var(--main-text-color);
    font-size: large;
}

.navAndLogo {
    display: flex;
    align-items: center;
}

#menuBars {
    display: block;
    font-size: x-large;
    color: var(--main-text-color);
}

.headCategories {
    position: absolute;
    top: 11vh;
    right: 50vw;
    width: fit-content;
    height: fit-content;
    background-color: var(--secondary-bg-color);
    padding: 3vh 2vw 0 2vw;
    border-radius: 5vh;
    display: none;
    flex-direction: column;
    z-index: 120;
}

.headCategories h4 {
    font-family: "Exo 2", sans-serif;
    font-size: x-large;
    font-weight: 500;
    text-align: center;
    align-self: center;
    padding-bottom: 3vh;
    width: 100%;
}

/* FOOTER */
.footerInfo {
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    margin-right: 4vw;
}

.footerInfo > * {
    margin-bottom: 20px;
}

footer {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 2rem 0;
    z-index: -150;
    position: relative;
}

footer p {
    font-size: 1rem;
}

.show {
    display: block;
    opacity: 1;
}

button {
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
    padding: 1vh 2vw;
    font-family: "Public Sans", sans-serif;
    font-size: large;
    border-radius: 2vh;
}

button:hover {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    transition: 0.5s;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
    .categoriesHead h3 {
        font-size: 1.7rem;
        font-weight: 200;
    }

    .userAccount {
        padding: 0 2vw;
        width: 10vw;
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    #menuBars {
        display: block;
    }

    .categoriesSideBar {
        width: 20vw;
    }

    .categoriesHead {
        margin-left: 0;
    }

    footer {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .imgLogo img {
        display: block;
    }

    .userAccount {
        width: 10vw;
    }

    .userAccount i {
        font-size: 1.7rem;
    }
}

@media (min-width: 992px) {
    #menuBars {
        display: none;
    }

    .imgLogo h1 {
        display: block;
        font-size: 1.7rem;
    }

    footer {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: 100;
    }

    footer p {
        font-size: 1.7rem;
    }

    .categoriesHead h3 {
        font-size: 1.7rem;
        margin-right: 1vw;
    }

    .categoriesSideBar {
        display: block;
        width: 16vw;
        opacity: 1;
    }

    .imgLogo img {
        display: block;
    }

    .userAccount {
        width: 9vw;
    }

    .userAccount i {
        font-size: 1.7rem;
    }

    .headCategories {
        right: 45vw;
    }
}

@media (min-width: 1200px) {
    .imgLogo h1 {
        display: block;
        font-size: 1.7rem;
    }

    .imgLogo img {
        display: block;
    }

    footer {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .categoriesHead h3 {
        font-size: 1.7rem;
    }

    .categoriesHead {
        margin-left: 50vw;
    }

    #menuBars {
        display: none;
    }

    .userAccount {
        width: 6vw;
    }

    .userAccount i {
        font-size: 1.7rem;
    }

    footer {
        z-index: 100;
    }

    footer p {
        font-size: 1.4rem;
    }

    .headCategories {
        right: 22vw;
    }
}