/* DOCUMENT */
* {
    margin: 0;
    padding: 0;
}

/* VARIABLES */
:root {
    --main-bg-color: #f6bc42;
    --secondary-bg-color: #f5ded2;
    --main-text-color: #402918;
    --secondary-text-color: #de9a2c;
}

/* GENERAL */
h3, h1 {
    color: var(--main-text-color);
    font-family: "Exo 2", sans-serif;
    margin-bottom: 1vh;
}

main {
    display: flex;
    justify-content: space-between;
}

p {
    font-family: "Public Sans", sans-serif;
}

ul li {
    font-family: "Public Sans", sans-serif;
    font-size: larger;
    list-style-type: none;
    font-weight: 300;
    width: 50vw;
}

input[type='checkbox'] {
    margin-right: 0.5vw;
    margin-left: 1vw;
    background-color: #fff;
}

input:checked {
    accent-color: #402918;
}

/* HEADER */
header {
    background-color: var(--main-bg-color);
    padding: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 7vh;
    z-index: 100;
}

.imgLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.3rem;
}

.imgLogo img {
    width: 6vh;
    height: 6vh;
    padding-left: 25px;
    display: none;
}

.imgLogo h1 {
    font-family: "Exo 2", sans-serif;
    color: var(--main-text-color);
    margin-left: 20px;
    display: none;
    font-size: small;
}

.categoriesHead {
    display: flex;
    align-items: center;
    width: 11vw;
    justify-content: space-around;
}


.categoriesHead h3 {
    font-size: 1.4rem;
    font-weight: 200;
    margin-right: 2vw;
}

.userAccount {
    margin-right: 10%;
    width: 15vw;
    display: flex;
    justify-content: space-between;
}

.userAccount i {
    color: var(--main-text-color);
    font-size: 1.3rem;
}

#menuBars {
    display: block;
    font-size: x-large;
    color: var(--main-text-color);
}

.navAndLogo {
    display: flex;
    align-items: center;
}

.headCategories {
    position: fixed;
    top: 11.3vh;
    left: 25vw;
    width: 55vw;
    background-color: #f1f1f1;
    font-family: "Exo 2", sans-serif;
    font-size: larger;
    border-radius: 10%;
    display: none;
    z-index: 120;
}

.headCategories ul {
    height: 25%;
}

.headCategories li {
    text-align: center;
    padding: 2vw;
    width: 50vw;
    height: 50%;
}

/* FOOTER */
.footerInfo {
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    margin-right: 4vw;
}

.footerInfo > * {
    margin-bottom: 20px;
}

footer {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 2rem 0;
    z-index: -150;
    position: relative;
}

footer p {
    font-size: 1rem;
}

/* SIDEBAR */
.categoriesSideBar h3 {
    margin-top: 3%;
    font-size: x-large;
    font-weight: 500;
}

.filterSubparagraph {
    display: none;
}

.hide {
    display: none;
}

.filterName {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.categoriesSideBar {
    opacity: 0;
    background-color: var(--secondary-bg-color);
    padding: 10vh 6vw 6vh 6vw;
    margin-top: 11vh;
    position: fixed;
    width: 46vw;
    height: 89vh;
    display: none;
    overflow-y: scroll;
}

.categoriesSideBar h1 {
    margin-top: -2vw;
}

.show {
    display: block;
    opacity: 1;
}

form {
    display: flex;
    width: 11vw;
    justify-content: space-between;
}

input[type='number'] {
    width: 8vw;
    height: 2.5vh;
    border-radius: 0;
    font-family: "Public Sans", sans-serif;
    padding-left: 3%;
}

button {
    background-color: var(--main-text-color);
    color: #fff;
    padding: 0 0.5vw;
    font-family: "Public Sans", sans-serif;
}

button:hover {
    background-color: var(--secondary-bg-color);
    color: var(--main-text-color);
    transition: 0.5s;
}

/* SEARCH */
.categoriesAndProducts {
    display: flex;
    flex-direction: column;
    margin: 15vh 0 5vh 10vw;
    width: 80vw;
}

.search {
    display: flex;
    margin-bottom: 2vh;
}

.search input {
    width: 150vw;
    height: 2.5vh;
    padding: 1.7vh 6vw;
    font-size: large;
    border-right-style: hidden;
    border-top-left-radius: 5vh;
    border-bottom-left-radius: 5vh;
}

.searchSub {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.7vh 1.5vw;
    font-size: x-large;
    border-left-style: hidden;
    border-top-right-radius: 5vh;
    border-bottom-right-radius: 5vh;
}

.searchSub i {
    height: 2.5vh;
    aspect-ratio: auto;
}

/* PRODUCTS */

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    width: 55vw;
    height: 45vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5%;
    background-color: #fff;
    margin: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -100;
    text-align: center;
}

.product img {
    height: 25vh;
}

.productPrice {
    text-align: center;
    color: var(--secondary-text-color);
    font-weight: 300;
    font-family: "Public Sans", sans-serif;
}

.product h3 {
    font-weight: 200;
    font-family: "Public Sans", sans-serif;
}

.product h4 {
    color: var(--main-text-color);
    font-weight: 300;
    font-family: "Public Sans", sans-serif;
}

.productSlider {
    color: darkgrey;
    font-size: xx-large;
}

.seeMore {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    font-family: "Exo 2", sans-serif;
    color: var(--main-text-color);
}

.seeMore h2 {
    font-weight: 400;
    margin-left: 1vw;
}

.seeMore i {
    font-size: x-large;
}

.productSlider {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-bottom: 5%;
}

.se

/* MEDIA QUERIES */
@media (min-width: 576px) {
    .categoriesHead h3 {
        font-size: 1.7rem;
        font-weight: 200;
    }

    .userAccount {
        width: 10vw;
        display: flex;
        justify-content: space-between;
    }

    .product {
        width: 30vw;
        height: 50vw;
    }

    .categoriesSideBar {
        position: fixed;
    }

    .headCategories {
        width: 35vw;
        left: 30vw;
    }

    .headCategories li {
        width: 30vw;
    }
}

@media (min-width: 768px) {
    #menuBars {
        display: block;
    }

    .categoriesSideBar {
        width: 20vw;
    }

    .categoriesHead {
        margin-left: 0;
    }

    footer {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .imgLogo img {
        display: block;
    }

    .userAccount {
        width: 10vw;
    }

    .userAccount i {
        font-size: 1.7rem;
    }

    .products {
        margin-left: 0;
    }

    .product {
        width: 25vw;
        height: 40vh;
    }

    .product img {
        height: 25vh;
        width: 22vw;
    }

    .search input {
        width: 75vw;
        font-size: large;
    }

    .headCategories {
        width: 35vw;
        left: 35vw;
    }

    .headCategories li {
        width: 30vw;
    }
}

@media (min-width: 992px) {
    #menuBars {
        display: none;
    }

    .imgLogo h1 {
        display: block;
        font-size: 1.7rem;
    }

    footer {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: 100;
    }

    .categoriesHead {
        margin-left: 0;
    }

    .headCategories {
        width: 20vw;
        left: 45vw;
    }

    .headCategories li {
        width: 15vw;
        height: 1vh;
    }

    .categoriesHead h3 {
        font-size: 1.7rem;
        margin-right: 1vw;
    }

    .categoriesSideBar {
        display: block;
        width: 16vw;
        opacity: 1;
    }

    input[type='number'] {
        width: 3vw;
        height: 2.5vh;
        margin: 0 13px 0 0;
    }

    footer p {
        font-size: 1.7rem;
    }

    .imgLogo img {
        display: block;
    }

    .userAccount {
        width: 9vw;
    }

    .userAccount i {
        font-size: 1.7rem;
    }

    footer p {
        font-size: 1.4rem;
    }

    .categoriesAndProducts {
        align-items: center;
        margin-left: 30vw;
    }

    .products {
        width: 55vw;
        justify-content: space-around;
        flex-direction: row;
    }

    .product {
        width: 20vw;
        height: 30vw;
    }

    .product img {
        width: 15vw;
    }

    .search input {
        width: 40vw;
        height: 2.5vh;
        padding: 1.7vh 2vw;
    }
}

@media (min-width: 1200px) {
    .imgLogo h1 {
        display: block;
        font-size: 1.7rem;
    }

    .imgLogo img {
        display: block;
    }

    footer {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .categoriesHead h3 {
        font-size: 1.7rem;
    }

    .headCategories {
        width: 15vw;
        left: 70vw;
    }

    .headCategories li {
        width: 10vw;
        height: 0.1vh;
    }

    .categoriesHead {
        margin-left: 50vw;
    }

    .categoriesSideBar {
        padding: 6vw;
    }

    input[type='number'] {
        width: 3vw;
        height: 3vh;
        margin: 0 13px;
    }

    #menuBars {
        display: none;
    }

    .userAccount {
        width: 6vw;
    }

    .userAccount i {
        font-size: 1.7rem;
    }

    footer p {
        font-size: 1.4rem;
    }

    input[type='checkbox'] {
        width: 1vw;
        height: 1vw;
    }

    .products {
        width: 60vw;
        height: 100%;
        justify-content: space-around;
        flex-direction: row;
    }

    .product {
        height: 45vh;
        width: 15vw;
    }

    .product img {
        height: 25vh;
        width: 10vw;
    }

    ul li {
        width: 20vw;
    }

    footer {
        z-index: 100;
    }

    .search input {
        width: 40vw;
        font-size: large;
    }

    .seeMore h2 {
        font-size: xx-large;
    }

    .search {
        margin-bottom: 3vh;
    }
}
