/* DOCUMENT */
*{
    margin: 0;
    padding: 0;
}

/* VARIABLES */
:root {
    --main-bg-color: #f6bc42;
    --secondary-bg-color: #f5ded2;
    --main-text-color: #402918;
    --secondary-text-color: #de9a2c;
}

/* GENERAL */
h3, h1{
    color: var(--main-text-color);
    font-family: "Exo 2", sans-serif;
    margin-bottom: 1vh;
}

main {
    display: flex;
    justify-content: space-between;
}

p {
    font-family: "Public Sans", sans-serif;
}

ul li {  
    font-family: "Public Sans", sans-serif; 
    font-size: larger;
    list-style-type: none;
    font-weight: 300;
    width: 50vw;
}

input[type='checkbox']{
    margin-right: 0.5vw;
    background-color:#fff;
}

input:checked {
    accent-color: #402918;
}

/* HEADER */
header {
    background-color: var(--main-bg-color);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width:100vw;
    z-index: 100;
}

.imgLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.3rem;
}

.imgLogo img {
    width: 6vh;
    height: 6vh;
    padding-left: 25px;
    display: none;
}

.imgLogo h1 {
    font-family: "Exo 2", sans-serif;
    color: var(--main-text-color);
    margin-left: 20px;
    display: none;
    font-size: small;
}

.categoriesHead{
    margin-left: -15%;
    display: flex;
    align-items: center;
    width: 11vw;
    justify-content: space-around;
}


.categoriesHead h3{
    font-size: 1.4rem;
    font-weight: 200;
}

.userAccount {
    margin-right: 10%;
    width: 15vw;
    display: flex;
    justify-content: space-between;
}

.userAccount i {
    color:var(--main-text-color);
    font-size: 1.3rem;
}

#menuBars {
    display: block;
    font-size: x-large;
    color: var(--main-text-color);
}

.navAndLogo{
    display: flex;
    align-items:center;
}

.headCategories {
    position:fixed;
    top: 11.3%;
    left: 25%;
    width: 55vw;
    background-color:#f1f1f1;
    font-family: "Exo 2", sans-serif;
    font-size: larger;
    border-radius: 10%;
    display: none;
    z-index: 120;
}

.headCategories ul {
    height: 25%;
}

.headCategories li {
    text-align: center;
    padding: 2vw;
    width: 50vw;
    height: 50%;
}

/* FOOTER */
.footerInfo{
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    margin-right: 4vw;
}

.footerInfo > * {
    margin-bottom:20px;
}

footer {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column-reverse;
    align-items:center;
    padding: 2rem 0;
    z-index: -150;
    position: relative;
}

footer p {
    font-size: 1rem;
}

/* SIDEBAR */
.categoriesSideBar h3 {
    margin-top: 3%;
    font-size: x-large;
    font-weight: 500;
}

.filterSubparagraph {
    display: none;
}
    
.hide {
    display: none;
}

.filterName {
    display: flex;
    align-items:baseline;
    justify-content: space-between;
}

.categoriesSideBar {
    opacity: 0; 
    background-color: var(--secondary-bg-color);
    padding: 10vw 6vw 6vw 6vw;
    margin-top: 9vh;
    position: fixed;
    height: 1200px;
    width: 46vw;
    display: none;
    overflow-y: auto;
}

.categoriesSideBar h1 {
    margin-top: -2vw;
}

.show {
    display: block;
    opacity: 1; 
}

form {
    display: flex;
    width:11vw;
    justify-content: space-between;
}

input[type='number']{
    width:8vw;
    height: 2.5vh;
    border-radius: 0;
    font-family: "Public Sans", sans-serif;
    padding-left: 3%;
}

.SideBarSub{
    display: block;
    background-color:var(--main-text-color);    
    color: #fff;
    padding: 0 0.5vw;
    font-family: "Public Sans", sans-serif;
    margin-left: 2vw;
}

.SideBarSub:hover{
    background-color:var(--secondary-bg-color);
    color:var(--main-text-color);
    transition: 0.5s;
}

/* SEARCH */
.categoriesAndProducts{
    display: flex;
    flex-direction: column;
    margin-top: 13vh;
    margin-left: 15vw;
    width: 80%;
}

.search {
    display: flex;
    align-items:center;
    margin-top: 10%;
}

.search input {
    width: 150vw;
    padding: 1.7vw;
    font-size: large;
}

.searchSub{
    background-color: var(--main-text-color);
    color:#fff;
    padding: 0.8vw;
    font-size: x-large;
}

/* DESKTOP NAVIGATION */
.desctopCategories{
    width: 60vw;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    display: none;
}

.desctopCategory{
    background-color:var(--main-text-color);
    width: 14vw;
    height: 2.5rem;
    border-radius: 4%;
    display: flex;
    color:#fff;
    justify-content: center;
    font-family: "Public Sans", sans-serif;
    align-items:center;
    margin: 2.5%;
}

.desctopCategory img {
    width: 20px;
    height: 20px;
}

.desctopCategory img, i {
    margin-right: 0.6vw;
}

/* PRODUCTS */


.product{
    width: 55vw;
    height: 45vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius:5%;
    background-color:#fff;
    margin: 4vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    z-index: -100;
    text-align: center;
}

.product img {
    height: 25vh;
}

.productPrice {
    text-align: center;
    color: var(--secondary-text-color);
    font-weight: 300;
    font-family: "Public Sans", sans-serif;
}

.product h3 {
    font-weight: 200;
    font-family: "Public Sans", sans-serif;
}

.product h4 {
    color:var(--main-text-color);
    font-weight: 300;
    font-family: "Public Sans", sans-serif;
}

.productSlider {
    color:darkgrey;
    font-size: xx-large;
}

.seeMore {
    display: flex;
    flex-direction: row;
    align-items:baseline;
    font-family: "Exo 2", sans-serif;
    margin-bottom: 10vw;
    margin-left: 5vw;
    color:var(--main-text-color);
}

/* .productDesc{
    background-color:midnightblue;
} */

.seeMore h2 {
    font-weight: 400;
    margin-left: 1vw;
}

.seeMore i {
    font-size: x-large;
}

.productSlider{
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-bottom: 5%;
}

.dot {
    height: 1.5vw;
    width: 1.5vw;
    background-color:dimgrey;
}

/* MEDIA QUERIES */
@media (min-width: 576px) { 
    .categoriesHead h3{
        font-size: 1.7rem;
        font-weight: 200;
    }

    .search input {
        padding: 1.2vw;
    }

    .userAccount {
        width: 10vw;
        display: flex;
        justify-content: space-between;
    }

    .products {
        display: flex;
        flex-wrap: wrap;
    }
    
    .product {
        width: 30vw;
        height: 50vw;
    }

    .categoriesSideBar {
        position: fixed;
    }

    .seeMore {
        margin: 6vh auto;
    }

    .headCategories {
        width: 35vw;
        left: 30%;
    }

    .headCategories li {
        width: 30vw;
    }

    .dot {
        height: 2vh;
        width: 2vh;
        background-color:dimgrey;
    }

} 
@media (min-width: 768px) { 

    .dot {
        height: 1vw;
        width: 1vw;
        background-color:lightgray;
    }

    #menuBars {
        display: block;
    }

    .categoriesSideBar {
        width: 20vw;
    }

    .categoriesHead {
        margin-left: 0;
    }

    footer {
        flex-direction: row;
        align-items:center;
        justify-content: center;
    }
    .imgLogo img {
        display: block;
    }

    .userAccount {
        width: 10vw;
    }

    .userAccount i{
        font-size: 1.7rem;
    }

    .products{
       margin-top: -5vh;
       display: flex;
       flex-wrap: wrap;
       margin-left: 0vw;
    }

    .search {
        margin-top: 15vw;
        margin-bottom: 5vw;
    }

    .searchSub{
        padding: 0.8vw;
        margin-top: -10vw;
    }

    .product {
        width: 25vw;
        height: 40vh;
    }

    .product img {
        height: 25vh;
        width: 22vw;
    }

    .desctopCategories {
        margin-left: 10vw;
        margin-bottom: 0;
    }

    .search input {
        width: 75vw;
        padding: 1vw;
        font-size: large;
        margin-left: 1vw;
        margin-top: -10vw;
    }
    
    .seeMore {
        margin: 6vw 20vw;
    }

    .headCategories {
        width: 35vw;
        left: 35%;
    }

    .headCategories li {
        width: 30vw;
    }
} 
@media (min-width: 992px) { 
    #menuBars {
        display: none;
    }

    .dot {
        height: 0.5vw;
        width: 0.5vw;
        background-color:dimgrey;
    }

    .desctopCategories{
        display: flex;
        margin-top: -5vw;
        margin-left: 15vw;
    }

    .imgLogo h1 {
        display: block;
        font-size: 1.7rem;
    }
    footer {
        flex-direction: row;
        align-items:center;
        justify-content: center;
        z-index: 100;
    }

    .categoriesHead{
        margin-left: 0;
    }

    .headCategories {
        width: 20vw;
        left: 70%;
    }

    .headCategories li {
        width: 15vw;
        height: 1vh;
    }

    .categoriesHead h3{
        font-size: 1.7rem;
    }

    .categoriesSideBar {
        display: block;
        width: 16vw; 
        opacity: 1; 
    }

    input[type='number']{
        width:3vw;
        height: 2.5vh;
        margin: 0 13px 0 0;
    }
    
    button[type='submit']{
        margin-left: 1vw;
    }

    footer p {
        font-size: 1.7rem;
    }
    
    .imgLogo img {
        display: block;
    }

    .userAccount {
        width: 9vw;
    }

    .userAccount i{
        font-size: 1.7rem;
    }

    footer p {
        font-size: 1.4rem;
    }

    .products{
        width: 55vw;
        height: 100%;
        display: flex;
        justify-content: space-around;
        padding: 10vh;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 10vw;
    }

    .product{
        width: 20vw;
        height: 30vw;
    }

    .product img {
        width: 15vw;
    }

    .search input, .searchSub {
        margin-top: -15vw;
        margin-left: 20vw;
    }

    .search input {
        width: 50vw;
    }

    .searchSub {
        padding: 1vh;
    }

    .seeMore {
        margin-top: -5vw;
        margin-right: 20vw;
    }

} 
@media (min-width: 1200px) {

    .dot {
        height: 0.5vw;
        width: 0.5vw;
        background-color:dimgrey;
    }

    .imgLogo h1 {
        display: block;
        font-size: 1.7rem;
    }

    .imgLogo img {
        display: block;
    }
    footer {
        flex-direction: row;
        align-items:center;
        justify-content: center;
    }
    .categoriesHead h3{
        font-size: 1.7rem;
    }

    .headCategories {
        width: 15vw;
        right: 30%;
    }

    .headCategories li {
        width: 10vw;
        height: 0.1vh;
    }

    .categoriesHead{
        margin-left: 50%;
    }

   .categoriesSideBar{
        padding: 6vw;
   }

    input[type='number']{
        width:3vw;
        height: 3vh;
        margin: 0 13px;
    }

    button[type='submit']{
        margin-left: 0.3vw;
    }

    #menuBars {
        display: none;
    }

    .userAccount {
        width: 6vw;
    }

    .userAccount i{
        font-size: 1.7rem;
    }

    footer p {
        font-size: 1.4rem;
    }

    input[type='checkbox']{
        width: 1vw;
        height: 1vw;
    }

    .products{
        width: 60vw;
        height: 100%;
        display: flex;
        justify-content: space-around;
        padding: 10vh;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 15vw;
        margin-top: 1vw;
    }
    
    .product{
        height: 45vh;
        width: 15vw;
    }

    .search {
        margin-top: 11vw;
    }

    .product img {
        height: 25vh;
        width: 10vw;
    }

    ul li {
        width: 20vw;
    }

    footer {
        z-index: 100;
    }

    .search input {
        width: 55vw;
        padding: 1vw;
        font-size: large;
        margin-left: 15vw;
    }

    .searchSub {
        padding: 1.5vh;
    }

    .desctopCategories {
        margin-left: 15vw;
        margin-top: -8vw;
    }

   .categoriesAndProducts{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-left: 15%;
   }

   .seeMore {
    margin: 0 0 5vw 15vw;
   }

   .seeMore h2 {
    font-size: xx-large;
   }
}





 
