body{
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.first {
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100vh;
    padding-bottom: 4vh;
    box-sizing: border-box;
}
.first::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/paws.png");
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
}
.header{
    width: 100%;
}
.header>img{
    position: absolute;
    z-index: 1;
    margin: 0.3% 0 0 14vw;
    width: 18%;
}
.header_line {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    background-color: #C5C5C5;
    justify-content: space-between;
    top: 4.3vw;
}
.header_line>img{
    color: #231f20;
    display: none;
}
.header_line>.user, .header_line>.login_img{
    display: none;
}
.flex-row{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.flex_column{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0.2vh 0 0.2vh 4vw;
    cursor: pointer;

}
.logo>div{
    font-size: 1.7vw;
    line-height: 1.3vw;
    font-weight: 600;
    color: #231F20;
}
.logo>img {
    width: 5vw;
    background-size: cover;
}
.nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 50vw;
    justify-content: space-evenly;
}
.nav-item {
    font-size: 1.6vw;
    font-weight: 450;
    cursor: pointer;

}
.user{
    padding: 0 0 0 2vw;
}
.nav-item>img{
    width: 2.2vw;
}
.nav-item>svg{
    width: 2.2vw;
}
.reservation-form{
    margin: 8vh 0 0vh 0;
}
.p{
    margin: 1vw;
    font-size: 2.5vw;
    font-weight: 700;
    letter-spacing: 0.4vw;
    color: #3C3638;
}
.form1{
    align-items: center;
    justify-content: space-around;
    width: 35vw;
    height: 60vh;
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 15px;
    padding: 2vw 0;
    box-sizing: border-box;
}
input::placeholder{
    color: rgba(128, 128, 128, 0.9);
}
.form1>input, select, .form2>div {
    width: 85%;
    height: auto;
    border-radius: 5px;
    border: none;
    font-size: 2.8vh;
    padding: 1vh 0 1vh 3.5vh;
    box-sizing: border-box;
    color: rgba(128, 128, 128, 0.9);
}
.sizeButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 85%;
}
.sizeButtons>label{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.8vw;
    font-weight: 400;
    color: #ffffff;
}
.sizeButtons input[type="checkbox"] {
    appearance: none; /* Скасування вбудованого вигляду */
    -webkit-appearance: none; /* Для Safari/Chrome */
    -moz-appearance: none; /* Для Firefox */
    width: 4vh;
    height: 4vh;
    background-color: white;
    border-radius: 5px;
    outline: none; /* Видалення контуру фокусу */
    position: relative; /* Забезпечення позиціонування для псевдоелемента */
}

.sizeButtons input[type="checkbox"]::before {
    content: ''; /* Порожній контент для псевдоелемента */
    display: none; /* Початково схований */
    position: absolute; /* Абсолютне позиціонування */
    top: 50%; /* Вертикальне позиціонування по центру */
    left: 50%; /* Горизонтальне позиціонування по центру */
    transform: translate(-50%, -50%); /* Зсув до центру */
    width: 2vw; /* Ширина зображення */
    height: 2vw; /* Висота зображення */
    background-image: url('images/check.png'); /* URL зображення галочки */
    background-size: cover; /* Масштабування зображення */
}


/* Зміна вигляду псевдоелемента (галочки) при виборі чекбокса */
.sizeButtons input[type="checkbox"]:checked::before {
    display: inline-block; /* Показати галочку при виборі */
    color: #808080; /* Сірий колір для галочки при виборі */
}
.sidebar{
    display: none;
}
.reservation{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    background-color: #808080;
    justify-content: space-between;
}
.left-panel{
    width: 50%;
    padding-left: 5vw;
    box-sizing: border-box;
}
.left-panel>h2{
    color: white;
    font-size: 2.8vw;
    font-weight: 500;
    margin: 1vw;
}
.form2{
    width: 90%;
    align-items: flex-start;
    height: auto;
}
.form2>select, .form2>div{
    width: 100%;
    font-size: 1.4vw;
    padding: 1.7vh;
    box-sizing: border-box;
    color: rgba(128, 128, 128);
    margin: 1.6%;
}


.list-container {
    background-color: #fff;
    min-height: 4vw;
    max-height: 16vw;
    overflow-y: auto;
}
.list-container-small {
    background-color: #fff;
    min-height: 4vw;
    overflow-y: auto;
}

button {
    display: flex;
    padding: 0.4vw 3.4vw;
    font-size: 1.8vw;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 0.2vw solid #ffffff;
    background-color: #808080;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    cursor: pointer;
    outline: none;
    margin: 4.5% 0 0 1.3%;
    letter-spacing: 0.1vw;
}

button:hover {
    background-color: #ffffff;
    color: #808080;
    border-color: #808080;
}
.button2{
    display: none;
}

.right-panel{
    justify-content: center;
    align-items: center;
    width: 50%;
}
.choose{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.choose>select{
    width: 85%;
    font-size: 1.4vw;
    padding: 1.5vh;
    margin: 2vw 0 0 0 ;
}
.choose>button{
    text-align: center;
    font-size: 1.5vw;
    padding: 0.5vw 1.5vw;
}
.list-table {
    border-collapse: collapse;
    width: 100%;

}

.list-table td {
    border-bottom: 1px solid lightgray;
    padding: 8px;
    align-items: center;
    cursor: pointer;
}

/* Set specific widths for each table cell */
.list-table .dayOfWeekCell {
    width: 30%; /* Day of the week column */
}

.list-table .monthCell {
    width: 20%; /* Month column */
}

.list-table .dayNumberCell {
    width: 15%; /* Day number column */
}

.list-table .yearCell {
    width: 15%; /* Year column */
}

.list-table .hourCell {
    width: 20%; /* Hour column */
}

.context-menu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px;
    z-index: 100;
}

.row-options {
    display: none; /* Hidden by default */
    cursor: pointer;
}

.calendar-container {
    width: 90%;
}
.calendar-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5vw 0;
}
.month {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    width: 18vw;
    color: white;
}

.arrow{
    font-size: 2.5vw;
    color: #3C3638;
    cursor: pointer;
}

.arrow-left {
    border-top: 1.4vw solid transparent; /* Height of the arrow */
    border-bottom: 1.4vw solid transparent; /* Height of the arrow */
    border-right: 0.8vw solid #3C3638; /* Width of the arrow and color */
}

.arrow-right {
    border-top: 1.4vw solid transparent; /* Висота стрілки */
    border-bottom: 1.4vw solid transparent; /* Висота стрілки */
    border-left: 0.8vw solid #3C3638; /* Ширина стрілки і колір */
}

.calendar-body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.name_day{
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
    font-weight: 300;
    color: white;
}

.day {
    height: 4.2vw;
    background-color: white;
    font-size: 1.3vw;
    padding: 0.3vw;
    box-sizing: border-box;
    border: 3px solid #808080;
    cursor: pointer;
    color: #808080;
    transition: 0.9s;
}
.day_choose {
    border: 3px solid #ffffff;
    background-color: #808080;
    color: white;
    transition: 0.9s;
}
.busy_day {
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
    pointer-events: none;

}

.busy_day::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 113%;
    border: 1px solid #c5c5c5;
    transform: rotate(28deg);
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
}
.sunday{
    display: none;
}
.today {
    font-weight: bold;
}
.disabled {
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
}


@media (max-width: 576px){
    .first{
        justify-content: normal;

    }
    .header>img{
        visibility: hidden;
    }

    .header_line{

        top: 0;
        padding: 0 3vw;
        align-items: center;
    }
    .header_line>img{
        display: block;
        width: 10vw;
    }

    .logo{
        padding: 0.5vh 0 0.5vh 0;
    }
    .logo>div{
        font-size: 8.3vw;
        line-height: 6vw;
    }
    .logo>img {
        width: 24vw;
    }
    .nav{
        display: none;
    }
    .header_line>.user{
        width: 11vw;
        display: block;
    }
    .reservation-form{
        display: flex;
        width: 100%;
        margin: 10vh 0;
        padding: 0;
    }
    .p{
        margin: 5vw;
        font-size: 10vw;
    }

    .form1{
        width: 90%;
        height: 50vh;
        background-color: rgba(128, 128, 128, 0.8);
        border-radius: 5px;
        box-sizing: border-box;

    }

    input::placeholder{
        color: rgba(128, 128, 128, 0.9);
    }

    .form1>input, select, .list-container {
        width: 92%;
        height: auto;
        border-radius: 3px;
        border: none;
        font-size: 2.6vh;
        padding: 1vh 0 1vh 2vh;
        box-sizing: border-box;
        color: rgba(128, 128, 128, 0.9);
    }
    .sizeButtons>label{
        width: 25%;
        font-size: 2.6vh;
    }
    .sizeButtons input[type="checkbox"]::before {
        width: 4vw; /* Ширина зображення */
        height: 4vw; /* Висота зображення */
        background-image: url('images/check.png'); /* URL зображення галочки */
    }
    .sidebar {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #3b3a3a;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidebar a {
        padding: 3vw 2vw 2vw 8vw;
        text-decoration: none;
        font-size: 6vw;
        color: #f1f1f1;
        display: block;
        transition: 0.3s;
    }

    .sidebar a:hover {
        color: #f1f1f1;
    }

    .sidebar .closebtn {
        position: absolute;
        top: 0;;
        font-size: 10vw;
        padding: 0;
        margin-left: 50vw;
    }
    .reservation{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        height: auto;
    }

    .form2>button{
        display: none;
    }

    .left-panel{
        width: 100%;
        padding-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .left-panel>h2{
        font-size: 5vh;
        margin: 2vh;
    }

    .form2{
        width: 90%;
    }

    .form2>select, .list-container{
        width: 100%;
        font-size: 2.5vh;
        padding: 1vh;
        box-sizing: border-box;
        color: rgba(128, 128, 128);
        margin: 1.6%;
    }

    .list-container{
        display: block;
        max-height: 10vh;
        min-height: 5vh;
        width: 95%;
        overflow-x: hidden;
    }
    .list-table {
        font-size: 2.3vh;
    }

    .list-table td {
        border-bottom: 2px solid #c4c3c3;
        padding: 4px;
    }

    .list-table .dayNumberCell {
        width: 10%; /* Day number column */
    }

    .list-table .yearCell {
        width: 20%; /* Year column */
    }

    .button2 {
        padding: 0.8vh 12vw;
        font-size: 3vh;
        border-radius: 5px;
        border: 2px solid #ffffff;
        margin: 2% 0 4% 0;
        letter-spacing: 0.6vw;
    }

    .right-panel{
        justify-content: center;
        align-items: center;
        width: 95%;
    }

    .right-panel>select{
        width: 95%;
        font-size: 2.5vh;
        padding: 0.5vh;
        margin: 5vw 0 0 0 ;
    }

    .calendar-container {
        width: 100%;
    }
    .calendar-header{
        padding: 2.5vh 0 1.5vw 0;
    }
    .month {
        display: flex;
        justify-content: center;
        font-size: 7vw;
        width: 45vw;
        color: white;
    }

    .arrow-left {
        border-top: 2.5vh solid transparent;
        border-bottom: 2.5vh solid transparent;
        border-right: 2.5vh solid #3C3638;
        border-radius: 5px;
    }

    .arrow-right {
        border-top: 2.5vh solid transparent;
        border-bottom: 2.5vh solid transparent;
        border-left: 2.5vh solid #3C3638;
        border-radius: 5px;
    }

    .name_day{
        font-size: 2.5vh;
        font-weight: 300;
        color: white;
    }
    .sidebar {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #3b3a3a;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidebar a {
        padding: 3vw 2vw 2vw 8vw;
        text-decoration: none;
        font-size: 6vw;
        color: #f1f1f1;
        display: block;
        transition: 0.3s;
    }

    .sidebar a:hover {
        color: #f1f1f1;
    }

    .sidebar .closebtn {
        position: absolute;
        top: 0;;
        font-size: 10vw;
        padding: 0;
        margin-left: 50vw;
    }
    .day {
        height: 11vw;
        font-size: 2.3vh;
        padding: 1vw;
        border: 0.55vw solid #808080;
    }
    .day_choose {
        border: 3px solid #ffffff;
        background-color: #808080;
    }
    .busy_day {
        background-color: rgba(190, 189, 189, 0.7);
    }

    .busy_day::before {
        transform: rotate(25deg);

    }

    .choose{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 2vh 0;
    }
    .choose>select{
        width: 85%;
        font-size: 2.5vh;
        padding: 0.9vh;
        margin: 0 3vw 0 0;
    }
    .choose>button{
        text-align: center;
        font-size:  2.5vh;
        border: 1px solid #ffffff;
        padding: 0.9vh 1.3vh;
        box-sizing: border-box;
        margin: 0;
    }
    .button2{
        display: block;
    }

}

@media (min-width: 577px) and (max-width: 991px){
    .first{
        justify-content: normal;
    }
    .header>img{
        visibility: hidden;
    }

    .header_line{
        top: 0;
        padding: 0 4vw;
        align-items: center;
    }
    .header_line>img{
        display: block;
        width: 9vw;
    }

    .logo{
        padding: 0.4vh 0 0.4vh 0;
    }
    .logo>div{
        font-size: 7.4vw;
        line-height: 6vw;
    }
    .logo>img {
        width: 20vw;
    }
    .nav{
        display: none;
    }
    .header_line>.user{
        width: 9vw;
        display: block;
    }
    .reservation-form{
        display: flex;
        width: 100%;
        margin: 10vw 0;
        padding: 0;
    }
    .p{
        margin: 5vw;
        font-size: 7vw;
    }

    .form1{
        width: 90%;
        height: 50vh;
        background-color: rgba(128, 128, 128, 0.8);
        border-radius: 10px;
        box-sizing: border-box;

    }

    input::placeholder{
        color: rgba(128, 128, 128, 0.9);
    }

    .form1>input, select, .list-container {
        width: 88%;
        height: auto;
        border-radius: 3px;
        border: none;
        font-size: 2.6vh;
        padding: 1vh 0 1vh 2vh;
        box-sizing: border-box;
        color: rgba(128, 128, 128, 0.9);
    }
    .sizeButtons>label{
        width: 25%;
        font-size: 2.6vh;
    }
    .reservation{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5vw 0;

    }

    .form2>button{
        display: none;
    }

    .left-panel{
        width: 100%;
        padding-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .left-panel>h2{
        font-size: 7vw;
        margin: 2vw;
    }

    .form2{
        width: 90%;
    }

    .form2>select, .list-container{
        width: 100%;
        font-size: 3.5vw;
        padding: 1vh;
        box-sizing: border-box;
        color: rgba(128, 128, 128);
        margin: 1.6%;
    }

    .list-container{
        display: block;
        min-height: 8vw;
        max-height: 16vw;
        width: 95%;
        overflow-x: hidden;
    }
    .list-table {
        font-size: 4vw;
    }

    .list-table td {
        border-bottom: 3px solid #dadada;
        padding: 4px;
    }

    .list-table .dayNumberCell {
        width: 10%; /* Day number column */
    }

    .list-table .yearCell {
        width: 20%; /* Year column */
    }

    .button2 {
        padding: 1vw 11vw;
        font-size: 5vw;
        border-radius: 5px;
        border: 0.5vw solid #ffffff;
        margin: 2% 0 0 0;
        letter-spacing: 0.6vw;
    }
    .right-panel{
        justify-content: center;
        align-items: center;
        width: 95%;
    }


    .calendar-container {
        width: 95%;
    }
    .calendar-header{
        padding: 3.5vw 0 1.5vw 0;
    }
    .month {
        display: flex;
        justify-content: center;
        font-size: 4vw;
        width: 40vw;
        color: white;
    }

    .arrow-left {
        border-top: 3.1vw solid transparent;
        border-bottom: 3.1vw solid transparent;
        border-right: 3.1vw solid #3C3638;
        border-radius: 5px;
    }

    .arrow-right {
        border-top: 3.1vw solid transparent;
        border-bottom: 3.1vw solid transparent;
        border-left: 3.1vw solid #3C3638;
        border-radius: 5px;
    }

    .name_day{
        font-size: 3vw;
        font-weight: 300;
        color: white;
    }
    .day {
        height: 9vw;
        font-size: 3vw;
        padding: 1vw;
        border: 3px solid #808080;
    }
    .day_choose {
        border: 3px solid #ffffff;
        background-color: #808080;
    }
    .busy_day {
        background-color: rgba(190, 189, 189, 0.7);
    }

    .busy_day::before {

        transform: rotate(35deg);

    }

    .choose{
        width: 95%;
        align-items: center;
        justify-content: center;
        margin: 2vw 0;
    }
    .choose>select{
        width: 85%;
        font-size: 3.5vw;
        padding: 0.9vh;
        margin: 0 3vw 0 0;
    }
    .choose>button{
        text-align: center;
        font-size: 3.5vw;
        border: 2px solid #ffffff;
        padding: 0.9vh 2vh;
        box-sizing: border-box;
        margin: 0;
    }
    .button2{
        display: block;
    }

}

