body{
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.first {
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100vh;
    padding-bottom: 4vh;
    box-sizing: border-box;
}
.first::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/paws.png");
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
}
.header{
    width: 100%;
}
.header>img{
    position: absolute;
    z-index: 1;
    margin: 0.3% 0 0 14vw;
    width: 18%;
}
.header_line {
    position: relative;
    background-color: #C5C5C5;
    justify-content: space-between;
    top: 4.3vw;
}
.header_line>img{
    color: #231f20;
    display: none;
}
.header_line>.user{
    display: none;
}
.flex_row{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.flex_column{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo{
    padding: 0.2vh 0 0.2vh 4vw;
}
.logo>div{
    font-size: 1.7vw;
    line-height: 1.3vw;
    font-weight: 600;
    color: #231F20;
}
.logo>img {
    width: 5vw;
    background-size: cover;
}
.nav{
    width: 55vw;
    justify-content: space-evenly;
}
.nav-item {
    font-size: 1.5vw;
    font-weight: 450;
}
.user{
    padding: 0 0 0 2vw;
}
.nav-item>img{
    width: 1.2vw;
}
.nav-item>svg{
    width: 2.2vw;
}
.reservation-form{
    margin: 8vh 0 0vh 0;
}
.p{
    margin: 1vw;
    font-size: 2.5vw;
    font-weight: 700;
    letter-spacing: 0.4vw;
    color: #3C3638;
}
.reservation-form>form{
    align-items: center;
    justify-content: space-around;
    width: 35vw;
    height: 60vh;
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 15px;
    padding: 2vw 0;
    box-sizing: border-box;
}
input::placeholder{
    color: rgba(128, 128, 128, 0.9);
}
.form1>input, select, .form2>div {
    width: 85%;
    height: auto;
    border-radius: 5px;
    border: none;
    font-size: 2.8vh;
    padding: 1vh 0 1vh 3.5vh;
    box-sizing: border-box;
    color: rgba(128, 128, 128, 0.9);
}
.sizeButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 85%;
}
.sizeButtons>label{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.8vw;
    font-weight: 400;
    color: #ffffff;
}
.sizeButtons input[type="checkbox"] {
    appearance: none; /* Скасування вбудованого вигляду */
    -webkit-appearance: none; /* Для Safari/Chrome */
    -moz-appearance: none; /* Для Firefox */
    width: 4vh;
    height: 4vh;
    background-color: white;
    border-radius: 5px;
    outline: none; /* Видалення контуру фокусу */
    position: relative; /* Забезпечення позиціонування для псевдоелемента */
}

.sizeButtons input[type="checkbox"]::before {
    content: ''; /* Порожній контент для псевдоелемента */
    display: none; /* Початково схований */
    position: absolute; /* Абсолютне позиціонування */
    top: 50%; /* Вертикальне позиціонування по центру */
    left: 50%; /* Горизонтальне позиціонування по центру */
    transform: translate(-50%, -50%); /* Зсув до центру */
    width: 2vw; /* Ширина зображення */
    height: 2vw; /* Висота зображення */
    background-image: url('images/check.png'); /* URL зображення галочки */
    background-size: cover; /* Масштабування зображення */
}


/* Зміна вигляду псевдоелемента (галочки) при виборі чекбокса */
.sizeButtons input[type="checkbox"]:checked::before {
    display: inline-block; /* Показати галочку при виборі */
    color: #808080; /* Сірий колір для галочки при виборі */
}
.reservation{
    height: 100vh;
    background-color: #808080;
    justify-content: space-between;
}
.left-panel{
    width: 50%;
    padding-left: 5vw;
    box-sizing: border-box;
}
.left-panel>h2{
    color: white;
    font-size: 2.8vw;
    font-weight: 500;
    margin: 1vw;
}
.form2{
    width: 90%;
    align-items: flex-start;
    height: auto;
}
.form2>select, .form2>div{
    width: 100%;
    font-size: 1.4vw;
    padding: 1.7vh;
    box-sizing: border-box;
    color: rgba(128, 128, 128);
    margin: 1.6%;
}


.list-container {
    background-color: #fff;
    min-height: 4vw;
    max-height: 16vw;
    overflow-y: auto;
}
.list-container-small {
    background-color: #fff;
    min-height: 4vw;
    overflow-y: auto;
}
.list-container2{
    display: none;
}
button {
    display: flex;
    padding: 0.4vw 3.4vw;
    font-size: 1.8vw;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 0.2vw solid #ffffff;
    background-color: #808080;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    cursor: pointer;
    outline: none;
    margin: 4.5% 0 0 1.3%;
    letter-spacing: 0.1vw;
}

button:hover {
    background-color: #ffffff;
    color: #808080;
    border-color: #808080;
}
.button2{
    display: none;
}
.choose>button{
    text-align: center;

    font-size: 1.5vw;

    padding: 0.5vw 1.5vw;

}
.right-panel{
    justify-content: center;
    align-items: center;
    width: 50%;
}
.choose{
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.choose>select{
    width: 85%;
    font-size: 1.4vw;
    padding: 1.5vh;
    margin: 2vw 0 0 0 ;
}
.list-table {
    border-collapse: collapse;
    width: 100%;
}

.list-table td {
    border-bottom: 1px solid lightgray;
    padding: 8px;
    align-items: center;
}

/* Set specific widths for each table cell */
.list-table .dayOfWeekCell {
    width: 30%; /* Day of the week column */
}

.list-table .monthCell {
    width: 20%; /* Month column */
}

.list-table .dayNumberCell {
    width: 15%; /* Day number column */
}

.list-table .yearCell {
    width: 15%; /* Year column */
}

.list-table .hourCell {
    width: 15%; /* Hour column */
}
.list-table .addition{
    width: 5%;
}
.context-menu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px;
    z-index: 100;
}

.row-options {
    display: none; /* Hidden by default */
    cursor: pointer;
}

.calendar-container {
    width: 90%;
}
.calendar-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5vw 0;
}
.month {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    width: 18vw;
    color: white;
}

.arrow{
    font-size: 2.5vw;
    color: #3C3638;
    cursor: pointer;
}

.arrow-left {
    border-top: 1.4vw solid transparent; /* Height of the arrow */
    border-bottom: 1.4vw solid transparent; /* Height of the arrow */
    border-right: 0.8vw solid #3C3638; /* Width of the arrow and color */
}

.arrow-right {
    border-top: 1.4vw solid transparent; /* Висота стрілки */
    border-bottom: 1.4vw solid transparent; /* Висота стрілки */
    border-left: 0.8vw solid #3C3638; /* Ширина стрілки і колір */
}

.calendar-body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.name_day{
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
    font-weight: 300;
    color: white;
}

.day {
    height: 4.2vw;
    background-color: white;
    font-size: 1.3vw;
    padding: 0.3vw;
    box-sizing: border-box;
    border: 3px solid #808080;
    cursor: pointer;
    color: #808080;
    transition: 0.9s;
}
.day_choose {
    border: 3px solid #ffffff;
    background-color: #808080;
    color: white;
    transition: 0.9s;
}
.busy_day {
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
    pointer-events: none;

}

.busy_day::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 113%;
    border: 1px solid #c5c5c5;
    transform: rotate(28deg);
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
}
.sunday{
    display: none;
}
.today {
    font-weight: bold;
}
.disabled {
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
}


@media (max-width: 576px){
    .header>img{
        visibility: hidden;
    }

    .header_line{
        top: 0;
        padding: 0 3vw;
        align-items: center;
    }
    .header_line>img{
        display: block;
        width: 10vw;
    }

    .logo{
        padding: 0.5vh 0 0.5vh 0;
    }
    .logo>div{
        font-size: 8.3vw;
        line-height: 6vw;
    }
    .logo>img {
        width: 24vw;
    }
    .nav{
        display: none;
    }
    .header_line>.user{
        width: 11vw;
        display: block;
    }
    .reservation-form{
        display: flex;
        margin: 0;
    }
    .p{
        margin: 15vw 0 4vw 0;
        font-size: 10vw;
    }

    .form1{
        width: 95%;
        height: auto;
        background-color: rgba(128, 128, 128, 0.8);
        border-radius: 5px;
        padding: 4vh 0 4vh 0;
    }

    input::placeholder{
        color: rgba(128, 128, 128, 0.9);
    }

    .form1>input, select, .list-container {
        width: 92%;
        height: auto;
        margin: 2.5%;
        border-radius: 3px;
        border: none;
        font-size: 2.6vh;
        padding: 1vh 0 1vh 2vh;
        box-sizing: border-box;
        color: rgba(128, 128, 128, 0.9);
    }

    .reservation{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form2>button{
        display: none;
    }

    .left-panel{
        width: 100%;
        padding-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .left-panel>h2{
        font-size: 10vw;
        margin: 4vw;
    }

    .form2{
        width: 90%;
    }

    .form2>select, .list-container2{
        width: 100%;
        font-size: 5vw;
        padding: 1vh;
        box-sizing: border-box;
        color: rgba(128, 128, 128);
        margin: 1.6%;
    }
    .list-container {
        display: none;
    }

    .list-container2{
        display: block;
        height: 15vw;
        width: 95%;
    }

    button {
        padding: 1vw 15vw;
        font-size: 7vw;
        border-radius: 5px;
        border: 0.8vw solid #ffffff;
        margin: 4.5% 0 0 1.3%;
        letter-spacing: 0.6vw;
    }

    .button2{
        display: block;
    }


    .right-panel{
        justify-content: center;
        align-items: center;
        width: 95%;
    }

    .right-panel>select{
        width: 95%;
        font-size: 5vw;
        padding: 0.5vh;
        margin: 5vw 0 0 0 ;
    }

    .calendar-container {
        width: 100%;
    }
    .calendar-header{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5vw 0 1.5vw 0;
    }
    .month {
        display: flex;
        justify-content: center;
        font-size: 6vw;
        width: 45vw;
        color: white;
    }

    .arrow-left {
        border-top: 5.5vw solid transparent;
        border-bottom: 5.5vw solid transparent;
        border-right: 5.5vw solid #3C3638;
        border-radius: 5px;
    }

    .arrow-right {
        border-top: 5.5vw solid transparent;
        border-bottom: 5.5vw solid transparent;
        border-left: 5.5vw solid #3C3638;
        border-radius: 5px;

    }

    .name_day{
        display: flex;
        justify-content: center;
        font-size: 4vw;
        font-weight: 300;
        color: white;
    }

    .day {
        height: 11.5vw;
        background-color: white;
        font-size: 5vw;
        padding: 1vw;
        border: 2px solid #808080;
        cursor: pointer;
        color: #808080;
        transition: 0.9s;
    }
    .day:hover {
        border: 2px solid #ffffff;
        background-color: #808080;
        color: white;
        transition: 0.9s;
    }
    .current-month {
        background-color: #fff;
        font-weight: bold;
    }
    .disabled {
        background-color: rgba(255, 255, 255, 0.5);
        pointer-events: none;
    }

}


